---
const { title } = Astro.props.frontmatter;
const printCSS = `${import.meta.env.BASE_URL}/print.css`;
const customCSS = `${import.meta.env.BASE_URL}/custom-cv-style-final.css`;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <style type="text/css">
      body {
        font-family: system-ui, sans-serif;
        max-width: 800px;
        margin: auto;
        padding: 2rem;
        line-height: 1.6;
      }
    </style>
    <link rel="stylesheet" href={printCSS} media="print" />
    <link rel="stylesheet" href={customCSS} />
  </head>
  <body>
    <main class={`cv ${flavor}`}>
      <slot />
    </main>
  </body>
</html>
